<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="C:\inetpub\PHP\php5isapi.dll" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
