propel:
  course:
    _attributes:       { phpName: Course }
    id:                { type: varchar(9), required: true, primaryKey: true }
    dept_id:           { type: varchar(4), required: true, foreignTable: department, foreignReference: id, index: true }
    descr:             { type: varchar(255), required: true }
    is_eng:            { type: boolean, required: true, default: 1 }
    
  course_comment:
    _attributes:       { phpName: CourseComment }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    user_id:           { type: integer, required: true, foreignTable: user, foreignReference: id }
    course_id:         { type: varchar(9), required: true, foreignTable: course, foreignReference: id, onDelete: cascade }
    comment:           { type: longvarchar, required: true }
    input_dt:          { type: timestamp, required: true }
    
  course_detail:
    _attributes:       { phpName: CourseDetail }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    detail_descr:      { type: longvarchar, required: true }
    first_offered:     { type: date, required: false }
    last_offered:      { type: date, required: false }
    course_id:         { type: varchar(9), required: true, foreignTable: course, foreignReference: id, onDelete: cascade, index: true }
    
  course_instructor_assoc:
    _attributes:       { phpName: CourseInstructorAssociation }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    instructor_id:     { type: integer, required: true, foreignTable: instructor, foreignReference: id, index: true }
    course_id:         { type: varchar(9), required: true, foreignTable: course, foreignReference: id, index: true }
    year:              { type: integer, required: true }
    
  course_discipline_assoc:
    _attributes:       { phpName: CourseDisciplineAssociation }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    course_id:         { type: varchar(9), required: true, foreignTable: course, foreignReference: id, index: true }
    discipline_id:     { type: integer, required: true, foreignTable: enum_item, foreignReference: id, index: true }
    year_of_study:     { type: tinyint, required: true }
    
  course_rating_data:
    _attributes:       { phpName: CourseRating }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    user_id:           { type: integer, required: true, foreignTable: user, foreignReference: id }
    field_id:          { type: integer, required: true, foreignTable: rating_field, foreignReference: id }
    course_ins_id:     { type: integer, required: true, primaryKey: true, foreignTable: course_instructor_assoc, foreignReference: id, onDelete: cascade }
    rating:            { type: tinyint, required: true }
    input_dt:          { type: timestamp, required: true }
    
  auto_course_rating_data:
    _attributes:       { phpName: AutoCourseRating }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    field_id:          { type: integer, required: true, foreignTable: rating_field, foreignReference: id, index: true }
    rating:            { type: smallint, required: true }
    import_dt:         { type: timestamp, required: true }
    course_ins_id:     { type: integer, required: true, foreignTable: course_instructor_assoc, foreignReference: id, onDelete: cascade, index: true }
    number:            { type: smallint, required: true }

  department:
    _attributes:       { phpName: Department }
    id:                { type: varchar(4), required: true, primaryKey: true }
    descr:             { type: varchar(255), required: true, index: true }
    
  enum_item:
    _attributes:       { phpName: EnumItem }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    parent_id:         { type: integer, required: true, foreignTable: enum_item, foreignReference: id, index: true }
    descr:             { type: varchar(255), required: true, index: true }
    
  exam:
    _attributes:       { phpName: Exam }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    course_id:         { type: varchar(9), required: true, foreignTable: course, foreignReference: id, onDelete: cascade, index: true }
    type:              { type: integer, required: true, foreignTable: enum_item, foreignReference: id }
    year:              { type: smallint, required: true }
    descr:             { type: varchar(255), required: true, index: true }
    file_path:         { type: longvarchar, required: true }
    
  exam_comment:
    _attributes:       { phpName: ExamComment }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    exam_id:           { type: integer, required: true, foreignTable: exam, foreignReference: id, onDelete: cascade }
    user_id:           { type: integer, required: true, foreignTable: user, foreignReference: id }
    comment:           { type: longvarchar, required: true }
    input_dt:          { type: timestamp, required: true }

  instructor:
    _attributes:       { phpName: Instructor }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    last_name:         { type: varchar(30), required: true, index: true }
    first_name:        { type: varchar(30), required: true, index: true }
    dept_id:           { type: varchar(4), required: true, foreignTable: department, foreignReference: id, index: true }
    
  instructor_detail:
    _attributes:       { phpName: InstructorDetail }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    descr:             { type: longvarchar, required: true }
    instructor_id:     { type: integer, required: true, foreignTable: instructor, foreignReference: id, onDelete: cascade, index: true }

  import_mapping:
    _attributes:       { phpName: ImportMapping }
    column:            { type: smallint, required: true, primaryKey: true }
    import_file_type:  { type: integer, required: true, primaryKey: true, foreignTable: enum_item, foreignReference: id }
    mapping:           { type: integer, required: true, foreignTable: enum_item, foreignReference: id }
    rating_field_id:   { type: integer, required: false, foreignTable: rating_field, foreignReference: id }
    question_rating:   { type: tinyint, required: false }

  rating_field:
    _attributes:       { phpName: RatingField }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    descr:             { type: varchar(255), required: true, index: true }
    type_id:           { type: integer, required: true, foreignTable: enum_item, foreignReference: id }
    is_reserved:       { type: tinyint, required: true }
    
  user:
    _attributes:       { phpName: User }
    id:                { type: integer, required: true, primaryKey: true, autoIncrement: true }
    user_name:         { type: varchar(50), required: true, index: true }
    password:          { type: varchar(50), required: true }
    type_id:           { type: integer, required: true, foreignTable: enum_item, foreignReference: id }
    email:             { type: varchar(50), required: true }
    registered_on:     { type: timestamp, required: true }