#main {min-height:900px}
#main table{width: auto;margin:0;vertical-align:baseline;}
#main input[type=text], #main input[type=password], #left input[type=file], #main select { font: 10pt verdana; width: 200px;}
#main input[type=button], #left input[type=submit]{ font: 10pt verdana;}
#main ul {margin: 2px; padding-left: 10px}
#main ul li, #main ol li {margin-left: 10px;}
#main h3 {padding-bottom: 5px;}
#main h4 { color: #5a5b5b; font-size: 11px; font-weight: bold; margin-bottom: 5px; border-bottom: none !important; letter-spacing: 1px;text-transform: uppercase; margin-top: 5px;}

#left input[type=text], #left input[type=file], #left select { font: 10pt verdana; width: 200px;}
#left input[type=button], #left input[type=submit]{ font: 10pt verdana;}
#left {font-size:9pt}

.hidden {display:none}

#critique_content{margin: 1em;font-size:10pt}
#critique_content fieldset {margin-top:-10px}

form label{font: inherit;width:auto;display:inline;}

div.search_block {
	border: 1px solid gray;
	background-color: #C0C0C0; 
	padding: 5px; 
	margin:0 5px 0 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
div.search_block p.title {float:left; padding-right: 10px; font-size:16px; font-weight:bold; }
div.search_block div.title_bar { 
	background-color: #5970B2;
	color: #fff;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin: -5px -5px 5px -5px;
	padding-left: 5px;
}

div.critique_block {border-top: 1px solid #EEEEEE; padding:7px 0 0 0; margin: 0 5px 15px 5px}
div.critique_block div.box {
	margin:5px 0 0 0;
	background-color:#ccc;
	border: 1px solid gray;
	padding: 5px; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
div.critique_block div.box div.title_bar { 
	background-color: #5970B2;
	color: #fff;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin: -5px -5px 5px -5px;
	padding-left: 5px;
}

#submenu
{
	text-align: right;
	position: relative;
	width:150px;
	float: left;
}
#submenu li { padding:2px;}

/* tables */

table.description {}
table.description td { vertical-align:top; text-align:justify;}
table.description td.title { width:150px; }

table.layout { width:100%; border:none;}
table.layout tr { vertical-align:top;}
table.layout td { padding: 2px;}
table.layout td.separator { width:7px;}

table.inputlayout { width: 100%; border: none;}
table.inputlayout tr {vertical-align: middle;}
table.inputlayout td.topup {vertical-align:top}
table.innerlayout { width: 100%; border: none; margin: none;}
table.innerlayout td { padding: 0px; border-spacing: 0px; border-collapse: collapse; margin:none; }

table.critiquetable { border-collapse: collapse; border: 1px solid #000;}
table.critiquetable td{ padding:2px; border: 1px solid #000; vertical-align: middle; text-align:center}
table.critiquetable th{ font-weight:bold; padding:2px; text-align:center; border: 1px solid #000; vertical-align: middle;}

dd.pointer, dt.pointer {cursor:pointer;}

/* buttons */

img.btn {cursor: pointer; margin-left: 5px; }
a.btn {cursor: pointer;}

a.reload {position:relative; cursor: pointer; display:block; width: 22px; height:20px; background: url(../skule_images/reload.gif);}
a.reload:hover {background: url(../skule_images/reload.on.gif);}

a.find {position:relative; cursor: pointer; display:block; width: 19px; height: 21px; background: url(../skule_images/find.gif);}
a.find:hover {background: url(../skule_images/find.on.gif);}

a.back {position:relative; cursor: pointer; display:block; width: 16px; height: 16px; background: url(../skule_images/back.gif) no-repeat;}
a.back:hover {background: url(../skule_images/back.on.gif) no-repeat;}

a.help {position:relative; cursor: help; text-decoration: none; display:block; width: 16px; height: 16px; background: url(../skule_images/help.gif) no-repeat;}
a.help:hover {background: url(../skule_images/help.on.gif);}
a.help span {display:none;}
a.help:hover span{
	display:block;
	width: 240px;
	position: absolute;
	top: 25px;
	border: solid 1px #000;
	background-color: #C3D9FF;
	color: #000;
	text-align: left;
	text-decoration: !important;
	font: 8pt/14pt verdana;
	padding: 5px;
	z-index: 100;
}

/* popupmenu */

#left dl div.popupmenu
{
	position: absolute;
	background-color: #fff;
	visibility: hidden;
	margin-left: 140px;
	padding: 0;
	z-index: 100;
	border: solid 1px #000;
	width: 80px;
	text-align: center;
}
div.popupmenu a {
	position: relative; 
	display: block;
	padding:1px;
	font-size: 0.85em;
	background: #5970B2;
	color: #FFF; 
	cursor:pointer;
	text-decoration: none;
}
div.popupmenu a:hover{background: #49A3FF !important;}

div.selector
{
	width:100%;
	height: 440px;
	border: solid 1px #000;
	margin-bottom: 5px;
	overflow: auto;
}
div.selector li {margin: 3px; display: block; min-width: 50px;}
div.selector li.selected {border: solid 1px purple;}

input[type=text].date {width:90px;}

/* grayout dialog box */

#grayout {position:fixed;top:0px;left:0px;overflow:hidden;display:none;width:100%;height:100%;background-color:#000000;opacity:0.5;MozOpacity:0.5;z-index:500;filter:alpha(opacity=50);text-align:center}
div.grayout_dialog {
	text-align:center;
	position:absolute;
	width:350px;
	background-color:white;
	color:black;
	padding:10px;
	z-index:1000;
	top:120px;
	left:500px;
	display:none;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
div.grayout_dialog div.title_bar {
	background-color: #5970B2;
	color: #fff;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin: -10px -10px 5px -10px;
	padding-left: 5px;
	font-size: 14px;
}