#main {min-height:450px}
#main table{width: auto;margin:0;vertical-align:baseline;}
#main input[type=text], #left input[type=file], #main select { font: 10pt verdana; width: 200px;}
#main input[type=button], #left input[type=submit]{ font: 10pt verdana;}
#main ul {margin: 2px; padding-left: 10px}
#main ul li, #main ol li {margin-left: 10px;}

#left input[type=text], #left input[type=file], #left select { font: 10pt verdana; width: 200px;}
#left input[type=button], #left input[type=submit]{ font: 10pt verdana;}
#left form label{font: inherit;width:auto;display:inline;}

#searchbar
{
	border: 1px solid #000;
	position: fixed;
	top:80%;
	right:10%;
	width: 250px;
	height: 50px;
	padding: 2px;
	background-color: #fff;
	z-index: 30;
	text-align: left;
}

#critique_content{margin: 1em;}

#submenu
{
	text-align: right;
	position: relative;
	width:150px;
	float: left;
}
#submenu li { padding:2px;}


table.description{}
table.description td { vertical-align:top;}
table.description td.title { width:150px; }

table.layout { width:100%; border:none;}
table.layout tr { vertical-align:top;}
table.layout td { padding: 2px;}
table.layout td.separator { width:7px;}

table.inputlayout { width: 100%; border: none;}
table.inputlayout tr {vertical-align: middle;}
table.innerlayout { width: 100%; border: none; margin: none;}
table.innerlayout td { padding: 0px; border-spacing: 0px; border-collapse: collapse; margin:none; }

table.disptable { border-collapse: collapse; border: 1px solid #afaeb2;}
table.disptable td{ padding:2px; text-align:center; border: 1px solid #afaeb2; vertical-align: middle;}
table.disptable th{ font-weight:bold; padding:2px; text-align:center; border: 1px solid #afaeb2; vertical-align: middle;}

dd.pointer, dt.pointer {cursor:pointer;}

/* buttons */
a.reload {position:relative; cursor: pointer; display:block; width: 22px; height:20px; background: url(../images/reload.gif);}
a.reload:hover {background: url(../images/reload.on.gif);}

a.find {position:relative; cursor: pointer; display:block; width: 19px; height: 21px; background: url(../images/find.gif);}
a.find:hover {background: url(../images/find.on.gif);}

a.select {position:relative; cursor: pointer; display:block; width: 14px; height: 13px; background: url(../images/select.gif);}
a.select:hover {background: url(../images/select.on.gif);}

a.help {position:relative; cursor: help; display:block; width: 16px; height: 16px; background: url(../images/help.gif) no-repeat;}
a.help:hover {background: url(../images/help.on.gif);}
a.help span {display:none;}
a.help:hover span{
	display:block;
	width: 200px;
	position: absolute;
	top: 25px;
	border: 1px solid #0cf;
	background-color: #cff;
	color: #000;
	text-align: left;
	text-decoration: none;
	font: 8pt/14pt verdana;
	padding: 5px;
}

.hidden {display:none}

div.popupmenu
{
	position: absolute;
	background-color: #fff;
	visibility: hidden;
	margin: 0;
	padding: 0;
	left: 280px;
	z-index: 100;
	border: solid 1px #000;
	width: 80px;
	text-align: center;
}
div.popupmenu a {
	position: relative; 
	display: block;
	padding:1px;
	font-size: 0.85em;
	background: #5970B2;
	color: #FFF; 
	cursor:pointer;
	text-decoration: none;
}
div.popupmenu a:hover{background: #49A3FF !important;}


div.selector
{
	width:100%;
	height: 440px;
	border: solid 1px #000;
	margin-bottom: 5px;
	overflow: auto;
}
div.selector li {margin: 3px; display: block; min-width: 50px;}
div.selector li.selected {border: solid 1px purple;}

/* button field for editors */
div.buttonfield
{
	width:100%;
	text-align: right;
}
div.buttonfield a.savebtn {cursor: pointer; margin-left: 5px; float: right; display:block; width: 16px; height:16px; background: url(../images/save.gif);}
div.buttonfield a.deletebtn {cursor: pointer; margin-left: 5px; float: right; display:block; width: 13px; height:16px; background: url(../images/delete.gif);}
div.buttonfield a.deletebtn:hover {background: url(../images/delete.on.gif);}
div.buttonfield a.addbtn {cursor: pointer; float: right; margin-left: 5px; display:block; width: 16px; height:16px; background: url(../images/add.gif);}
div.buttonfield a.refreshbtn {cursor: pointer; margin-left: 5px; float: right; display:block; width: 15px; height: 16px; background: url(../images/refresh.gif);}

img.btn {cursor: pointer; margin-left: 5px; }

input[type=text].date {width:90px;}

#grayout {position:fixed;top:0px;left:0px;overflow:hidden;display:none;width:100%;height:100%;background-color:#000000;opacity:0.5;MozOpacity:0.5;z-index:500;filter:alpha(opacity=50);text-align:center}
.grayout_dialog {text-align:center;position:absolute;width:350px;background-color:white;color:black;padding:10px;z-index:1000;top:120px;left:500px;display:none}